/* General form styling */

form {
    padding: 30px;
    width: 80%;
    margin: 0 auto;
}

form field {
    display: block;
    float: none;
    margin-top: 20px;
    width: 100%;
}

form field:after {
    clear: both;
}

form field label {
    display: block;
    float: left;
    width: 100%;
}

form field input,
form field textarea {
    display: block;
    float: left;
    width: 100%;
    margin-right: 10px;
    border: 1px solid #cecece;
    border-radius: 6px;
}

form field input {
    height: 32px;
}

form field textarea {
    height: 100px;
}

form field label span.required {
    color: red;
    padding-left: 5px;
}

form field.buttons {
    margin-top: 20px;
    float: left;
    text-align: right;
    width: 100%;
}

.btn {
    background: transparent;
    border: none;
    width: 3em;
}

.contact-footer {
    /* margin-top: 400px; */
    width: 100%;
}


/*modal*/


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* The 'Yes' & 'No' buttons */

.yes {
    margin-right: 5px;
    color: white;
    background-color: darkgreen;
    border: none;
}

.no {
    margin-left: 5px;
    color: white;
    background-color: darkred;
    border: none;
}

#contact {
    height: 500px;
}